In [2]:
import requests
import os
from bs4 import BeautifulSoup
import pandas as pd
import time
from geopy.geocoders import Nominatim

# List of all 50 states
states = [
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", 
    "Georgia", "Hawaii", "Idaho", "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", 
    "Maryland", "Massachusetts", "Michigan", "Minnesota", "Mississippi", "Missouri", "Montana", "Nebraska", 
    "Nevada", "New-Hampshire", "New-Jersey", "New-Mexico", "New-York", "North-Carolina", "North-Dakota", "Ohio", 
    "Oklahoma", "Oregon", "Pennsylvania", "Rhode-Island", "South-Carolina", "South-Dakota", "Tennessee", "Texas", 
    "Utah", "Vermont", "Virginia", "Washington", "West-Virginia", "Wisconsin", "Wyoming"
]

# Initialize an empty list to hold all the data
all_data = []

# Initialize the geolocator
geolocator = Nominatim(user_agent="real_estate_scraper", timeout=10)

# Function to get latitude and longitude
def get_lat_lng(city, state):
    try:
        location = geolocator.geocode(f"{city}, {state}")
        if location:
            return location.latitude, location.longitude
    except Exception as e:
        print(f"Error geocoding {city}, {state}: {e}")
    return None, None

# Loop through each state
for state in states:
    url = f"https://www.redfin.com/state/{state}"  # Update the URL with the current state
    
    try:
        # Send a GET request to the webpage
        headers = {"User-Agent": "Mozilla/5.0"}
        response = requests.get(url, headers=headers)
        soup = BeautifulSoup(response.text, 'html.parser')

        # Locate the table based on its class name
        table = soup.find('table', {'class': 'filterableTable table-styles-basic'})
        
        # Skip if the table is not found
        if not table:
            print(f"No data found for {state}")
            continue

        # Extract the rows from the table body
        rows = table.find('tbody').find_all('tr')

        # Parse and extract data from each row
        for row in rows:
            columns = row.find_all('td')
            row_data = [col.get_text(strip=True) for col in columns]
            if len(row_data) < 3:  # Skip rows with insufficient data
                continue
            city = row_data[0].split(',')[0].strip()
            avg_list_price = row_data[1]
            avg_price_sqft = row_data[2]
            avg_days_on_market = row_data[3]
            lat, lng = get_lat_lng(city, state)  # Add geocoding here
            all_data.append([state, city, avg_list_price, avg_price_sqft, avg_days_on_market, lat, lng])
        
        print(f"Data successfully extracted for {state}")
    except Exception as e:
        print(f"Error extracting data for {state}: {e}")

# Check if any data was collected
if all_data:
    # Define the column names
    column_names = ["state", "city", "avg.list price", "avg.price/sqft", "avg.days on market", "lat", "lng"]

    # Create a pandas DataFrame
    df = pd.DataFrame(all_data, columns=column_names)

    # Clean and save the data
    df['avg.list price'] = pd.to_numeric(df['avg.list price'].str.replace('[$,]', '', regex=True),errors='coerce')
    df['avg.price/sqft'] = pd.to_numeric(df['avg.price/sqft'].str.replace('[$,]', '', regex=True), errors='coerce')
    df['avg.days on market'] = pd.to_numeric(df['avg.days on market'], errors='coerce')

    # Save the data to the "Data" directory
    base_path = os.getcwd()
    output_csv_path = os.path.join(base_path, "Data", "cleaned_redfin_data_with_coords.csv")
    os.makedirs(os.path.dirname(output_csv_path), exist_ok=True)
    df.to_csv(output_csv_path, index=False)
    print(f"Data saved to {output_csv_path}")
else:
    print("No data was extracted.")

Data successfully extracted for Alabama
Data successfully extracted for Alaska
Data successfully extracted for Arizona
Data successfully extracted for Arkansas
Data successfully extracted for California
Data successfully extracted for Colorado
Data successfully extracted for Connecticut
Data successfully extracted for Delaware
Data successfully extracted for Florida
Data successfully extracted for Georgia
Data successfully extracted for Hawaii
Data successfully extracted for Idaho
Data successfully extracted for Illinois
Data successfully extracted for Indiana
Data successfully extracted for Iowa
Data successfully extracted for Kansas
Data successfully extracted for Kentucky
Data successfully extracted for Louisiana
Data successfully extracted for Maine
Data successfully extracted for Maryland
Data successfully extracted for Massachusetts
Data successfully extracted for Michigan
Data successfully extracted for Minnesota
Data successfully extracted for Mississippi
Data successfully extracted for Missouri
Data successfully extracted for Montana
Data successfully extracted for Nebraska
Data successfully extracted for Nevada
Data successfully extracted for New-Hampshire
Data successfully extracted for New-Jersey
Data successfully extracted for New-Mexico
Data successfully extracted for New-York
Data successfully extracted for North-Carolina
Data successfully extracted for North-Dakota
Data successfully extracted for Ohio
Data successfully extracted for Oklahoma
Data successfully extracted for Oregon
Data successfully extracted for Pennsylvania
Data successfully extracted for Rhode-Island
Data successfully extracted for South-Carolina
Data successfully extracted for South-Dakota
Data successfully extracted for Tennessee
Data successfully extracted for Texas
Data successfully extracted for Utah
Data successfully extracted for Vermont
Data successfully extracted for Virginia
Data successfully extracted for Washington
Data successfully extracted for West-Virginia
Data successfully extracted for Wisconsin
Data successfully extracted for Wyoming
Data saved to {output_csv_path}

In [4]:
df.head(50)

,state,city,avg.list price,avg.price/sqft,avg.days on market,lat,lng
0,Alabama,1.Huntsville,374500.0,162.0,91.0,34.729847,-86.585901
1,Alabama,2.Birmingham,165000.0,90.0,82.0,33.513400,-86.805721
2,Alabama,3.Mobile,250590.0,124.0,85.0,30.691346,-88.043751
3,Alabama,4.Madison,541725.0,177.0,108.0,34.692873,-86.751143
4,Alabama,5.Montgomery,190000.0,108.0,81.0,32.377420,-86.309168
5,Alabama,6.Gulf Shores,514500.0,285.0,131.0,30.271122,-87.689383
6,Alabama,7.Hoover,514950.0,172.0,86.0,32.541844,-86.138386
7,Alabama,8.Fairhope,622245.0,214.0,108.0,30.523696,-87.910950
8,Alabama,9.Orange Beach,745000.0,442.0,134.0,30.294368,-87.573594
9,Alabama,10.Athens,349900.0,155.0,103.0,33.601743,-85.959151
10,Alabama,11.Tuscaloosa,379950.0,196.0,71.0,33.190174,-87.251434
11,Alabama,12.Auburn,448889.0,207.0,88.0,32.560931,-85.670716
12,Alabama,13.Vestavia Hills,505000.0,219.0,78.0,33.448799,-86.787949
13,Alabama,14.Dothan,255950.0,128.0,49.0,31.223728,-85.393438
14,Alabama,15.Trussville,429900.0,160.0,76.0,33.619627,-86.608434
15,Alabama,16.Mountain Brook,734000.0,280.0,66.0,33.501946,-86.755683
16,Alabama,17.Decatur,279900.0,137.0,96.0,32.377922,-86.302626
17,Alabama,18.Foley,334780.0,176.0,91.0,34.369752,-86.504437
18,Alabama,19.Daphne,325000.0,172.0,99.0,33.784927,-86.477584
19,Alabama,20.Pelham,354900.0,162.0,66.0,33.692365,-85.829318
20,Alaska,1.Anchorage,452000.0,222.0,61.0,60.940723,-149.171837
21,Alaska,2.Fairbanks,289000.0,99.0,62.0,64.837845,-147.716675
22,Alaska,3.Juneau,485000.0,254.0,72.0,58.301950,-134.419734
23,Alaska,4.Wasilla,499950.0,222.0,53.0,61.582422,-149.442563
24,Alaska,5.Palmer,530200.0,192.0,95.0,61.599570,-149.111090
25,Alaska,6.Homer,582500.0,248.0,162.0,59.645406,-151.544564
26,Alaska,7.Ketchikan,405000.0,238.0,108.0,55.343070,-131.646682
27,Alaska,8.Sitka,739000.0,NaN,134.0,57.052497,-135.337612
28,Alaska,9.Soldotna,412000.0,200.0,114.0,60.484723,-151.065349
29,Alaska,10.Kenai,374500.0,247.0,86.0,60.583810,-151.301293
30,Alaska,11.Seward,637500.0,360.0,64.0,59.226967,-135.446268
31,Alaska,12.North Pole,379825.0,207.0,78.0,64.750997,-147.349319
32,Alaska,13.Kodiak,465000.0,283.0,169.0,51.871762,-176.631185
33,Alaska,14.Talkeetna,348500.0,NaN,174.0,62.323476,-150.112570
34,Alaska,15.Willow,249956.0,146.0,146.0,61.747222,-150.037500
35,Alaska,16.Sterling,475000.0,233.0,72.0,60.537544,-150.797745
36,Alaska,17.Haines,415000.0,306.0,152.0,59.239641,-135.442869
37,Alaska,18.Skagway,NaN,NaN,611.0,59.459205,-135.318290
38,Alaska,19.Big Lake,492500.0,388.0,134.0,61.541746,-149.830355
39,Alaska,20.Valdez,1225000.0,NaN,139.0,61.129940,-146.349363
40,Arizona,1.Phoenix,480000.0,276.0,70.0,33.447816,-112.072947
41,Arizona,2.Scottsdale,1199000.0,442.0,77.0,33.494219,-111.926018
42,Arizona,3.Gilbert,629800.0,282.0,69.0,33.436330,-111.930162
43,Arizona,4.Chandler,559000.0,294.0,64.0,33.227710,-111.857799
44,Arizona,5.Mesa,479900.0,266.0,66.0,33.398650,-111.687500
45,Arizona,6.Tucson,335000.0,212.0,70.0,32.221660,-110.935072
46,Arizona,7.Tempe,498500.0,294.0,73.0,33.425512,-111.940016
47,Arizona,8.Queen Creek,679000.0,272.0,87.0,33.248386,-111.634158
48,Arizona,9.Flagstaff,749000.0,390.0,90.0,35.196463,-111.649534
49,Arizona,10.Prescott,649900.0,297.0,90.0,33.241525,-111.840612

In [6]:
# Load the CSV file
file_path = os.path.join(base_path, "Data", "cleaned_redfin_data_with_coords.csv")
data = pd.read_csv(file_path)

In [8]:
# Clean the city column to extract proper city names
data['city'] = data['city'].str.extract(r'\d+\.(.+)')[0].str.strip()

In [10]:
# Replace problematic values ('—') and clean numerical columns
columns_to_clean = ['avg.list price', 'avg.price/sqft', 'avg.days on market']
for col in columns_to_clean:
    data[col] = data[col].replace({r'\$': '', r',': '', '—': None}, regex=True)
    data[col] = pd.to_numeric(data[col], errors='coerce')

In [12]:
# Save the cleaned DataFrame to a CSV file
data.to_csv(output_csv_path, index=False)
print(f"Final cleaned data preview:")
print(data.head())

Final cleaned data preview:
     state        city  avg.list price  avg.price/sqft  avg.days on market  \
0  Alabama  Huntsville        374500.0           162.0                91.0
1  Alabama  Birmingham        165000.0            90.0                82.0
2  Alabama      Mobile        250590.0           124.0                85.0
3  Alabama     Madison        541725.0           177.0               108.0
4  Alabama  Montgomery        190000.0           108.0                81.0

         lat        lng
0  34.729847 -86.585901
1  33.513400 -86.805721
2  30.691346 -88.043751
3  34.692873 -86.751143
4  32.377420 -86.309168